[2022-03-08 17:28] kestewart commented on #628
Being addressed in https://github.com/spdx/spdx-spec/pull/622

[2022-03-09 12:30] mshawcroft opened #632 "Contradiction in 6.7, 6.10"
In Chapter 6.7, the introductory text begins with:

"An optional field for creators.."

The cardinality clause then goes on to state:

"Cardinality | 1..1"

This would appear to be a contradiction.

The same issue appears in chapters: 6.10, 6.11

[2022-03-09 14:58] kestewart commented on #395
@goneall  - yes, this matches my understanding that it's a shortcut for the relationship that was introduced in some of the serializations.

If we're going to add a new field,  it probably should go in 2.3 at this point.

[2022-03-09 18:29] swinslow commented on #632
Good eyes -- this appears to have been an error in the conversion to the format for 2.2.1.

In SPDX 2.2, looking at the PDF version at https://spdx.dev/wp-content/uploads/sites/41/2020/08/SPDX-specification-2-2.pdf, the equivalent fields in sections 2.7, 2.10 and 2.11 say `Cardinality: Optional, one.` It looks like this got incorrectly converted to `Cardinality 1..1` rather than `Cardinality 0..1`

[2022-03-09 21:59] goneall commented on #421
Since this is a change to XML which is not stable in 2.2, I'm moving this issue to 2.3

[2022-03-09 22:02] goneall commented on #412
Moving to 2.3

[2022-03-10 20:52] rnjudge opened #634 "Enable SPDX document creation without licensing fields"
There has been a proposal to change the SPDX 2.x spec to enable SPDX document creation _without_ licensing fields in order to better support security use cases where the licensing fields may not be available and/or applicable. Currently, licensing fields like `Concluded License`, `Declared License` and `Copyright Text` are required for package elements. Given that we are working to communicate sec

[2022-03-10 21:32] swinslow commented on #634
Hi @rnjudge, thanks for filing this!

I'm personally in favor of this change for SPDX 2.3. One caveat: I think the spec should explicitly state that, if one of these fields is absent for a Package / File / Snippet, then that has the equivalent meaning of NOASSERTION. Do you see any concerns with including this?

One nit on the commit at https://github.com/rnjudge/spdx-spec/commit/65b708772d62f83c1

[2022-03-10 21:33] swinslow commented on #634
also cc @jlovejoy and @pmadick

[2022-03-10 22:11] rnjudge commented on #634
I think this is great to include. Do you want me to include this note within each field description or is there somewhere that I could state it only once that would make ense?

Thanks for pointing that out! I wasn't sure about this. I'll fix it and update my PR.

[2022-03-10 23:08] swinslow commented on #634
Thanks @rnjudge!

Yes, I would say it's good to include it with each field. The reason being that there are other places in an SPDX Document where NOASSERTION might be used or omitted, where this wouldn't be generally applicable (e.g., Relationships to NOASSERTION). So I think mentioning it in each optional field where it applies is worthwhile.

For the cardinality, I think this was a broader conv

[2022-03-15 14:38] MarkLodato opened #636 "Download location should recommmend a fully qualified git ref, not a bare tag or branch name"
In git, a bare `<refname>` (e.g. `main`) can refer to a tag or a branch. If the name refers to both, it is ambiguous what it refers to; see [gitrevisions(7)](https://mirrors.edge.kernel.org/pub/software/scm/git/docs/gitrevisions.html). Some tools use the tag, while others (e.g. `git checkout`) use the branch.

In the SPDX "Package download location field", the field `[@<revision_tag_or_branch>]` i

[2022-03-15 15:39] kestewart commented on #623
@paulmillar - we have a 2.3 branch now,  please link the PR here so we can track effectively.

[2022-03-15 15:41] kestewart commented on #618
@goneall link to PR?   can this be closed?

[2022-03-15 15:50] kestewart commented on #585
Closing this as I don't think there's further action to take in the spec.   Please reopen if you disagree.

[2022-03-15 15:50] #585 closed

[2022-03-15 15:51] kestewart commented on #583
@goneall - I'm going to close this, as I think its all been resolved with the merges.   Please reopen if this isn't the case.

[2022-03-15 15:51] #583 closed

[2022-03-15 15:53] kestewart commented on #581
@goneall - do we need a fix for 2.3?

[2022-03-15 16:23] kestewart commented on #577
Rose discussed:   Only missing media type is now XML.     Need to get follow up for @zvr for review.

[2022-03-15 16:32] kestewart commented on #636
From call,  there's desire to to include this in 2.3, but we need to make this a non breaking change, so will introduce a new keyword.

[2022-03-15 16:33] kestewart commented on #593
Agreement to clean up the wording here in 2.3 from call.   Pull request welcome.

[2022-03-15 16:37] kestewart commented on #582
From call,  there is some interest in getting this added to 2.3 releationship set, but we need to understand better FILE_DELETED use case a bit more.    This would be a good thing to get codified into a best practice and use case description.

[2022-03-15 17:02] kestewart commented on #624
Discussed in tech team call, and no block to creating pull request to add this in.

[2022-03-15 17:13] kestewart commented on #492
Closing this.   Please reopen if there is still an issue to be addressed in the specification.

[2022-03-15 17:14] kestewart commented on #500
Setting this to an issue to be clarified in the 2.3 specification.

[2022-03-15 17:20] rnjudge commented on #593
I can try to help with this.

[2022-03-15 18:01] jeff-schutt commented on #571
The `ExternalDocumentRef` `[Checksum]` value in [Section 6.6.1 Table 7](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/chapters/document-creation-information.md#66-external-document-references-field-) refers back to the list of supported checksum algorithms described in the `FileChecksum` field of File Information [Section 8.4](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/c

[2022-03-15 21:33] rjb4standards opened #641 "Proposed Usage Language; soliticiting input on the proposed direction"
I took an action item to write "SBOM Usage" guidelines and would like to get your thoughts on the proposed direction, shown here. The materials below are germane to the "as distributed" package that an end consumer receives from a software vendor to be used in a "risk assessment use case". Other use cases can be addressed. The goal of this posting is to get feedback on the proposed direction of th

[2022-03-15 21:51] rjb4standards commented on #641
[SBOM PROPOSED PRACTICES.docx](https://github.com/spdx/spdx-spec/files/8257429/SBOM.PROPOSED.PRACTICES.docx)

[2022-03-15 22:54] ryanmoran opened #642 "Allow optional version parameter in media-type"
The current [media-type definition](https://www.iana.org/assignments/media-types/application/spdx+json) specifies that there are no optional parameters. This makes hinting the specification versions supported by an API difficult. Instead of being able to specify a precise spec version in an [`Accept` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept), we'd need to provide do

[2022-03-16 15:40] swinslow commented on #492
Hi @kestewart -- I'm reopening this, as I just noticed that it looks like that language fell out of the applicable spec section somewhere between 2.2 and 2.2.1. Looking at https://spdx.github.io/spdx-spec/document-creation-information/#62-data-license-field I'm not seeing it there now. Do you know if this was deleted inadvertently in the 2.2.1 release?

[2022-03-16 15:41] swinslow commented on #492
(cc @jlovejoy @pmadick for visibility)

[2022-03-21 11:38] mereolog commented on #581
The change wrt the issue I raised is fine - it fixes the problem.

[2022-03-23 11:47] tschmidtb51 opened #646 "How to identify a SPDX component from external?"
Dear colleagues,

I was looking for a way to identify a single component of and SPDX SBOM in another document (e.g. a CSAF one). I have a hunch that it works this way:

[code]

Is that correct? If so, is that specified somewhere and could you please point me to that location?

[2022-03-23 11:51] tschmidtb51 commented on #646
This is related to a CSAF issue as I was looking how SPDX is doing what is called a [bom-link in CylconeDX](https://cyclonedx.org/capabilities/bomlink/). See https://github.com/oasis-tcs/csaf/issues/407#issuecomment-1073745911 as example.

[2022-03-23 14:59] goneall commented on #646
This is correct for the RDF serialization format.

It is documented in the [SPDX Document namespace field](https://spdx.github.io/spdx-spec/document-creation-information/#65-spdx-document-namespace-field).

The tag/value format does not implement any direct linking, but you can identify the external references by their use of the [External Document Reference](https://spdx.github.io/spdx-spec/docum

[2022-03-24 15:19] tschmidtb51 commented on #646
@goneall Could you please also check, that https://github.com/oasis-tcs/csaf/issues/484#issuecomment-1077745182 is correct?

[2022-03-24 15:22] tschmidtb51 opened #647 "https as Best Practice"
[6.5.2 Intent](https://spdx.github.io/spdx-spec/document-creation-information/#652-intent) states:

I suggest to change that to use `https://` instead. TLS is pretty easy to setup these days ;-)

The same applies to the Examples.

[2022-03-24 21:28] goneall commented on #646
Correct

[2022-03-24 21:31] goneall commented on #646
@tschmidtb51 I'm don't know enough about the CSAF spec to verify overall correctness, but the URI's look correct.

[2022-03-24 23:17] tschmidtb51 commented on #646
Thanks for the confirmation. From my perspective, this question was solved and the issue can be closed.

[2022-03-24 23:17] #646 closed

[2022-03-26 01:15] jiaw37 commented on #571
[manifest.spdx.zip](https://github.com/spdx/spdx-spec/files/8354445/manifest.spdx.zip)
Attached is a sample of the json, please verify if this looks right? I added comments to the json to signify the parts

[2022-03-31 01:29] swinslow opened #651 "Ambiguity for Snippet location in tag-value documents"
According to [Section 5.2.4 of the 2.2 spec](https://spdx.github.io/spdx-spec/composition-of-an-SPDX-document/#524-snippet-information-section), in tag-value documents:

I had read this to say that, for tag-value documents, one or more Snippets should be listed immediately after the File that contains them. This would be equivalent to the way that Files contained in a Package are listed immediatel

[2022-03-31 19:03] goneall commented on #651
I thought we added the [SnippetFromFileSPDXID](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/chapters/snippet-information.md#92-snippet-from-file-spdx-identifier-field-) to loosen the requirement for the snippet to follow the file.  That being said, the field was added a very long time ago and my memory is not entirely reliable.

Although I don't recall discussing a FileFromPackgeSPDXI

[2022-03-31 21:24] swinslow commented on #610
Thanks for replying on this thread, @pseudoyim! I'd forgotten we started this discussion  :)

This is timely as I just realized this morning that the Golang tools _might_ be handling Packages with symlinks differently on Windows than they do on Linux. The thread at https://github.com/spdx/tools-golang/issues/117 has some details about (I'm guessing) differences in symlinks leading to getting diffe

[2022-03-31 22:53] dholth commented on #610
Some symlinks are aliases for libraries included in the same package, others point at e.g. the system's default timezone

[2022-04-01 15:59] rjb4standards opened #652 "Please add "INSTALL" as an option for the PackagePurpose element in V 2.3"
Please add "INSTALL" as an option for the PackagePurpose element in V 2.3

[2022-04-05 15:16] #492 closed

[2022-04-05 16:14] sschuberth commented on #484
I believe this has been fixed by now on the [v2.2.2 branch](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/schemas/spdx-schema.json):

https://github.com/spdx/spdx-spec/blob/298a1fdbdbe5aba0d81398b0c82d198d2054a1e2/schemas/spdx-schema.json#L359-L362

[2022-04-06 01:45] #623 closed

[2022-04-06 10:11] paulmillar commented on #500
Hi @riannella,

#645 was just accepted to v2.2 branch.  You may like to check whether that change has also addressed the problem you described in this issue.

[2022-04-07 01:51] riannella commented on #500
Can you post here what the updated definition for checksum is now?

[2022-04-07 05:19] paulmillar commented on #500
Here you go:

[code]

[2022-04-07 05:24] riannella commented on #500
Ok, that looks good. Thanks for the update

[2022-04-08 17:39] kuro6 commented on #571
@jiaw37 are you waiting for input from anyone in particular? Do you have all the info you need to close this ticket?

[2022-04-11 21:38] ianling commented on #651
The Python library also does not put snippets alongside/within their associated file. The Go library does.

Snippets in tag-value files either need to use `SnippetFromFileSPDXID` or follow the implicit hierarchical ordering of the tag-value format. The example file does the former, which should be supported.

In my opinion, while it is important for these tools to provide a reference implementatio

[2022-04-11 23:57] goneall commented on #651
I also adhere to this philosophy and have attempted to implement them in the Java tools implementation.  In the [SPDX-Java-Library](https://github.com/spdx/spdx-java-library) there is `strict` flag.  If set to true, it will fail for any non-compliant SPDX document.  If it is set to false, it will be more lenient.

I also added an [issue for the Java tag/value parser](https://github.com/spdx/spdx-j

[2022-04-12 15:57] #604 closed

[2022-04-12 21:30] #632 closed

[2022-04-13 17:31] hectorj2f opened #655 "Question: Is SPDX 3.0 backwards compatible with 2.x ?"
We're thinking to support SPDX 3.0 draft version although we've realized that the v3.0 milestone would happen on July. So our first question comes related to the backwards compatibility between versions. We have SPDX clients that produce v3.0 and v2.2 at the moment.
Also we're interested on understanding whether the current "draft" is stable enough to start adopting it, meaning if there are expect

[2022-04-19 06:58] coderpatros opened #656 "RelationshipType AMENDS is missing from the JSON schema"
Originally reported here https://github.com/CycloneDX/cyclonedx-dotnet-library/issues/141

[2022-04-19 14:30] tsteenbe opened #657 "Contributing.md does not mention SPDX Community Specification CLA"
[CONTRIBUTING.md](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/CONTRIBUTING.md) does not mention the [SPDX Community Specification Contributor License Agreement 1.0](https://github.com/spdx/governance/blob/main/0._SPDX_Contributor_License_Agreement.md) or the DCO requirement.

Propose to add section to CONTRIBUTING.md explaining that besides CC-BY-3.0 also SPDX Community Specification

[2022-04-19 17:00] goneall commented on #657
@swinslow Can you review this issue?  Would you mind adding PR?

[2022-04-19 18:34] swinslow commented on #657
Sure, I'll submit a PR for this.

[2022-04-19 18:36] swinslow commented on #657
Note to self -- will also add copy of [Community-Spec-1.0](https://github.com/spdx/governance/blob/main/1._Community_Specification_License-v1.md) to [LICENSE file](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/LICENSE) in spdx-spec repo, while retaining copy of existing CC-BY-3.0 text for pre-existing portions of the spec.

[2022-04-19 18:40] swinslow commented on #657
Should I submit this to a different branch, since it looks like 2.2.2 was [released earlier today](https://github.com/spdx/spdx-spec/releases/tag/v2.2.2)?

[2022-04-19 20:44] goneall commented on #656
Thanks @coderpatros for reporting this.  A fix is underway.

[2022-04-21 17:15] goneall opened #661 "Mkdocs are failing in the CI"
We're getting the following error when the CI runs (see PR #659 for an example):

[code]

[2022-04-22 04:35] fu7mu4 opened #662 "typo of company name in https://spdx.dev/tools-commercial/"
It's just typo. FOSSID is a product of snyk, not synk.

1. go to https://spdx.dev/tools-commercial/
2. search snyk in that page.

see https://snyk.io/

[2022-04-22 04:47] fu7mu4 opened #663 "Use bd_export_spdx2.2 for Black Duck instead of Hub-SPDX in https://spdx.dev/tools-commercial/"
Hub-SPDX for Black Duck written in https://spdx.dev/tools-commercial/ is outdated, ant its links are dead link.
Now they use  bd_export_spdx2.2 instead of Hub-SPDX. See https://github.com/blackducksoftware/bd_export_spdx2.2
Of cource, you can use bd_export_spdx2.2 for Downloading a report in SPDX format from Black Duck Hub.

Please change Hub-SPDX with bd_export_spdx2.2.
Its usage is written in RE

[2022-04-22 21:38] seabass-labrax commented on #662
Thank you for reporting this, @fu7mu4 - I'll let our website admin know as soon as possible!

[2022-04-26 07:19] henkbirkholz opened #664 "Potential issues with ABNF description"
[chapters/external-repository-identifiers.md](https://github.com/spdx/spdx-spec/pull/658/files#diff-ee43399ef0f791b4754b701d7a197418993d0b2b223522ad21acd68883bad6c9) does not read quite right to me. I checked with @cabo and there might be a few issues with this ABNF definition:

* 'idstring' can start with a "-". Is that intentional? That looks curious.
* 'compound-expression' has undefined operat

[2022-04-26 11:26] zvr commented on #664
@henkbirkholz your link goes to #658. Is this intentional?

[2022-04-26 11:32] zvr commented on #664
If this is about license expression grammar, then we should continue on #456 which was opened almost two years ago.

[2022-05-02 17:33] nishakm opened #668 "Resolve differences between top level composition doc and package information section"
For v2.3, there are discrepancies between the [spdx composition document](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/composition-of-an-SPDX-document.md#522-package-information-section-) and the [package information document](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/package-information.md).

[2022-05-02 17:33] nishakm commented on #668
@kestewart I'll submit a separate PR for this. It depends on #622 being merged.

[2022-05-05 19:18] jiaw37 commented on #571
@iamwillbar there is some confusion with step 3.
I think it should read
Document A contains a Relationship of type DESCRIBED_BY from `[Document A Namespace]`#SPDXRef-Document to `[Document B Namespace]`#SPDXRef-File-[SPDXID from Step 2]
Where Document A and Document B are flipped. because the SPDXID from step 2, is the id for Document B, not Document A.

The following is an example we have came up

[2022-05-10 16:07] henkbirkholz opened #672 "Relationship Types for early software life-cycle phases (in SPDX 2.3)"
In order to refer to specific requirement documents/resources and design specifications adding two relationship types could be really useful - especially

REQUIREMENT_FOR: Is to be used when SPDXRef-A describes, illustrates, or specifies a requirement statement for SPDXRef-B.

SPECIFICATION_FOR: Is to be used when SPDXRef-A describes, illustrates, or defines a design specification for SPDXRef-B.

[2022-05-10 16:45] #647 closed

[2022-05-10 17:08] kestewart commented on #634
Fixed in PR https://github.com/spdx/spdx-spec/pull/635

[2022-05-10 17:11] kestewart commented on #628
Reviewed with Dick on call,  ok to close. Note,  it's also handled with updated the package alignment PR https://github.com/spdx/spdx-spec/pull/669.

[2022-05-10 17:11] #628 closed

[2022-05-10 17:16] #627 closed

[2022-05-10 17:16] kestewart commented on #626
Reviewed and this has been fixed.

[2022-05-10 17:16] #626 closed

[2022-05-10 17:17] kestewart commented on #624
Agree this can be closed.

[2022-05-10 17:17] #624 closed

[2022-05-10 17:20] kestewart commented on #606
@goneall - need to update JSON & XML schemas, and automatic drawings.

[2022-05-10 17:22] kestewart commented on #593
@nishakm to review the PR and check.

[2022-05-10 17:25] kestewart commented on #581
This was actually fixed in 2.2.2.  Closing.

[2022-05-10 17:59] nishakm commented on #593
Is the change just `s/shall/may`? I can submit a PR for this. Is it targeted to 2.3?

[2022-05-13 18:50] juliusmusseau commented on #99
Hiya !  We're an SCA startup (mergebase.com) and we produce SPDX SBOM for our customers.  Would love to put release dates in the SBOM.  We have the data!  Helps customers self-assess for staleness (e.g., using really old libraries is becoming a bit of a code smell, even if the library has no known security bugs).

`                 pkg                 |     v     |      release_date
--------------

[2022-05-13 19:29] zvr commented on #99
Nice data, @juliusmusseau, although you have to define what the "release date" actually mean.

For example, I can think of:
- when the source was last modified
- when the .jar file was created
- when it was pushed to maven
- when it was made available via maven
- etc. etc.

As @kestewart noted above, such pieces of information (probably more than one) will most probably be included in the provenan

[2022-05-13 20:45] juliusmusseau commented on #99
Very good point!

In that example we're using "youngest timestamp among all files inside the jar file downloaded from maven-central" which generally correlates to within 72 hours of the Apache release vote, the release tag, the release build, etc.  Since staleness questions concern "is this library months or years out of date?" a bit of fuzziness around the exact moment-of-release is not that impo

[2022-05-16 13:28] mxmehl commented on #502
Obviously we'd be happy to have it in 2.3 as it's a feature requested a lot but happy to discuss that with you.

[2022-05-16 21:50] kestewart opened #680 "Point https://spdx.github.io/spdx-spec/ to pick up 2.2.2 (currently 2.2.1)"
Would like to update the docs to push out the 2.2.2 to the online version.
What needs to be updated?

[2022-05-16 22:07] NorioKobota commented on #680
Relates to PR #676.
You need to update mkdocs version in requirements.txt that exists in v3.0 and master(main) branch.
ref: https://github.com/NorioKobota/spdx-spec/actions/runs/2306819019

[2022-05-17 14:06] vargenau opened #683 "Annotator syntax inconsistency"
Section 12.1 of the ISO standard

Format is:
[code]

An example given is:
[code]

If  "(email)" was optional, I would have expected:
[code]

Can this be clarified? are the () mandatory?

[2022-05-17 15:27] #668 closed

[2022-05-17 16:49] #634 closed

[2022-05-17 17:09] #672 closed

[2022-05-18 05:06] goneall commented on #683
My interpretation was the entire string including the parenthesis is optional.

I just checked and the Java tools do not require the parenthesis.

Unless anyone objects, I would recommend removing the `()` from the example.

[2022-05-18 13:02] vargenau commented on #683
Hi,

Thank you for your answer.

I have created a pull request:
https://github.com/spdx/spdx-spec/pull/685

Marc-Etienne

From: goneall ***@***.***>
Sent: Wednesday, May 18, 2022 7:07 AM
To: spdx/spdx-spec ***@***.***>
Cc: Vargenau, Marc-Etienne (Nokia - FR/Paris-Saclay) ***@***.***>; Author ***@***.***>
Subject: Re: [spdx/spdx-spec] Annotator syntax inconsistency (Issue #683)

Can this be clarifi

[2022-05-18 16:56] goneall commented on #502
@zvr @mxmehl @kestewart I'm thinking if we get a PR within the next week, we can review and potentially include it in the 2.3 release.  Let me know if you agree.

[2022-05-18 18:52] goneall commented on #582
@kestewart @iamwillbar Is this a request to change/add relationships in the spec?  If so, can we get a PR put in for the change?

[2022-05-18 18:56] goneall commented on #500
@riannella @paulmillar Should we close this issue as resolved with PR #645?

[2022-05-18 18:57] goneall commented on #421
@tsteenbe how important is this to be resolved in 2.3?  I've got a pretty deep stack of 2.3 work to do before release.

[2022-05-18 18:59] goneall commented on #412
@tsteenbe @swinslow I'm thinking this should be moved to 3.0 since it would be a breaking change.  Agree?

[2022-05-18 19:03] goneall commented on #395
@kestewart @tsteenbe where should this be documented?  It is only for JSON and YAML.  It is already documented in the JSON schema.

[2022-05-18 20:26] swinslow commented on #412
@goneall I tend to agree, since the JSON and YAML formats were introduced in 2.2, a change here would be a breaking change and would make 2.2 JSON / YAML documents no longer valid. So I'd say that means this is for 3.0.

[2022-05-20 12:09] vargenau opened #689 "Specify which licenses are compatible with the "+" operator"
Currently, the standard does not specify which licenses are compatible with the "+" operator.

We should explicitly list in the standard the licenses that cannot use the "+" operator.
We have at least:
* GPL-1.0-only
* GPL-2.0-only
* GPL-3.0-only
* LGPL-2.0-only
* LGPL-2.1-only
* LGPL-3.0-only
* AGPL-1.0-only
* AGPL-3.0-only
* GPL-1.0-or-later
* GPL-2.0-or-later
* GPL-3.0-or-later
* LGPL-2.0-or-la

[2022-05-21 01:08] NorioKobota commented on #661
Hello,
I think it is inconvenient not to be able to see the spec website, so I'd like to send a PR  to all necessary branches.
If okay, could you tell me the following information?
- The branch name to be referenced in spdx.github.io/spdx-spec/. => development/v 2.2.2 or master?
- The branch name to refer to in spdx.github.io/spdx-spec/v2-draft/ => development/v 2.3?
- The branch name to refer to

[2022-05-21 17:23] swinslow commented on #689
I'm -1 on incorporating this into the spec, at least as far as it goes for defining [the syntax of valid SPDX license expressions](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/SPDX-license-expressions.md).

_Syntactically_, the license expression grammar should continue to permit license expressions where any valid license ID can have a `+` appended to it. I'll defer to the too

[2022-05-21 21:46] goneall commented on #661
@tsteenbe @kestewart  - Can you answer the above questions?  I'm not sure where the merges are for the 2.3 development, so I'm not sure if the current is master or development/v2.2.2.

Also, what do we want to do about development/v3.0?  It is not very current and may be confusing if we leave this up.  I I had more time, I'd add some documentation to the development/v3.0 branch and point them to h

[2022-05-23 13:52] mxmehl commented on #502
Great! How shall we proceed? I am afraid I lack the required detailed inside knowledge of the SPDX spec to draft a pull request that won't raise too many side problems with exact wording and placement. However, I'd be very happy to provide input and feedback early on. One could take fsfe/reuse-docs#81 as inspiration.

One thought that crossed my mind is whether we want to have `SPDX-License-Identi

[2022-05-24 10:56] Blackclaws commented on #49
Would definitely be great to have this. We have a couple of internal projects that we would like to annotate correctly. Right now we are falling back to doing LicenseRef-None or LicenseRef-companyNameProprietary. As these are internal projects right now "None" as a license type would make a lot of sense.

[2022-05-24 11:28] mxmehl commented on #502
OK, no promise but I can try to kickstart a pull request creating an annex to get the ball rolling.

[2022-05-24 13:47] pombredanne commented on #49
@mjbshaw re:

Honestly, I do not see any consensus emerge yet from the discussion above.

@Blackclaws re:

`NONE` as specified means that there is no license not that there is a proprietary license: `3.15 Declared License [...] NONE, if the package contains no license information whatsoever; or [...]`

So IMHO `NONE` should never be used to report a proprietary license. Furthermore, I cannot see h

[2022-05-24 13:56] Blackclaws commented on #49
@pombredanne

I might have worded it a bit imprecise. We have code that currently is _not_ licensed to the outside but for which we want to keep mostly accurate SPDX headers. For code that is adapted from open source sources that are for example MIT licensed our SPDX header looks a bit like this:
[code]
or
[code]

We don't use OR here as its not dual licensed, its open source based so we need to t

[2022-05-24 13:59] swinslow commented on #689
Thanks @vargenau, apologies that I hadn't understood your proposal when I responded earlier.

I think the question is partly who is making the determination. For both the FSF and the OSI columns, we defer to those organizations for what they've approved; the SPDX project is just reflecting their determinations, not making any conclusions ourselves of which licenses fit these definitions.

For "+ O

[2022-05-24 15:33] kestewart commented on #652
Fixed in https://github.com/spdx/spdx-spec/pull/669

[2022-05-24 15:46] kestewart commented on #500
Looks like this is resolved,  @paulmillar @riannella  - please reopen if you disagree.

[2022-05-24 15:46] #500 closed

[2022-05-24 16:18] goneall commented on #661
Accidentally closed during tech call - re-opened

@NorioKobota Thanks again for helping with this.

[2022-05-24 16:20] kestewart commented on #636
We don't have a volunteer at this point to generate a PR, so moving it forward to resolve as part of 3.0

[2022-05-24 17:24] sschuberth commented on #395
Hmm, @goneall already concluded this to be documented in the JSON schema:

And IIUC the open question was whether that's enough. So *that* question should be answered before closing this, instead of pointing to the (known) JSON schema, IMO.

[2022-05-24 17:25] kestewart commented on #412
Proposal will be a breaking change, so call concensus is to move it to 3.0

[2022-05-24 18:07] goneall commented on #49
It would be very valid to have an `Apache-2.0 AND NONE`, however per my previous comment above.

@pombredanne do you agree?

[2022-05-24 18:18] goneall commented on #661
@NorioKobota Just to summarize answers to your above questions based on the tech call:

master

development/v2.3

This should be removed - we're dropping the development/v3.0 branch.

[2022-05-24 18:31] goneall commented on #395
@sschuberth  - We discussed this on the tech call today.  I think this is a very general question that can be applied to all of the JSON fields, not just the `documentDesribes`.  Many of us agree there needs to be more documentation for the JSON format, but that extends beyond just this single property.  Since no one has volunteered to document JSON beyond the schema, we decided to close this issu

[2022-05-24 18:33] sschuberth commented on #395
Thanks for that context, @goneall. I believe that's curical information for people to be able to follow.

[2022-05-24 18:40] goneall commented on #656
Resolved in PR #659

[2022-05-24 18:40] swinslow commented on #49
+1 -- this is what convinced me to change my mind from where I was previously against this.

A file can contain some content which is Apache-2.0 licensed, and other content for which there is no license. To describe the overall license expression for this file, I think `Apache-2.0 AND NONE` is the best way to describe this.

As @pombredanne noted, adding `NONE` to the license expression syntax cou

[2022-05-24 18:42] goneall commented on #618
Resolved with commit 04068cb2ef5fc25003e5c266468861940f08f8d4

[2022-05-24 18:42] #618 closed

[2022-05-24 18:49] goneall opened #691 "Meta Issue - Update Schemas for 2.3"
This issue is to track the work needed to update all the schemas for SPDX release 2.3.

- [x] Resolve all SPDX issues and pull requests which impact the schemas (PR #671)
- [x] Diff the 2.2 and 2.3 versions of the spec to identify changes to the schemas
- [x] Update the OWL document based on the diff
- [x] Generate TTL version of OWL along with RDF (replaces PR #501 )
- [x] Generate JSON Schema
-

[2022-05-24 18:57] goneall commented on #691
Note that the following 2.3 PR's and issues are assumed to only impact documentation and will not change impact the schema:
- PR #681
- PR #679
- PR #671
- PR #464
- Issue #657
- Issue #630
- Issue #593
- Issue #587
- Issue #582
- Issue #571

[2022-05-24 19:55] Jayman2000 commented on #593
I can still find it [here](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/composition-of-an-SPDX-document.md#523-file-information-section-).

Hopefully, this will clarify why I think this is a contradiction:

I’m assuming here that a word was accidentally left out and that the author meant “one instance of the file information _section_”. To me, that quote means that every SPDX d

[2022-05-24 20:24] NorioKobota commented on #661
@goneall @kestewart
Thank you. I got it.
Since the current master branch is synchronized with the v2.2.2 branch, I'll send PR to both the development/v2.2.2 branch and the master branch.
The v3 branch build has already been removed with following commit.
https://github.com/spdx/spdx-spec/commit/693f14bfed7acf5cf1e3bdbc420bd4f0c4a93b88

[2022-05-25 00:22] goneall commented on #683
Resolved with PR #684

Thanks @vargenau

[2022-05-25 00:22] #683 closed

[2022-05-25 00:43] goneall commented on #661
@NorioKobota I merged in the PR's - however, I'm still not seeing the updated site.

It may be related to the 3.0 branch not executing.

Could you make one more PR to the 3.0 branch?  I'll review and merge once it is created and we'll se if the docs get regenerated.

[2022-05-25 00:46] NorioKobota commented on #661
@goneall Yes, I checked it. The reason is that the build setting of the v3.0 branch remains in the publish.yml of the master branch. I will send you a PR later.
Thanks.

[2022-05-25 15:32] goneall commented on #661
@NorioKobota Thanks for the PR's.  I merged them and the CI is now running without error :)

The main spec page spdx.github.io/spdx-spec/ is correct.

However, the v2 drafts page is still pointing to v2.2.2 when it should be v3.

I'll take a look and see if I can figure out why.

[2022-05-25 23:45] NorioKobota commented on #661
@goneall Thank you.
I certainly forgot to correct it.
https://github.com/spdx/spdx-spec/commit/6fb512276970e1d11c465ae972c3dc4529780a40
It works correctly with this correction.

[2022-05-25 23:57] NorioKobota commented on #661
BTW, In fact, this https://github.com/spdx/spdx-spec/commit/6fb512276970e1d11c465ae972c3dc4529780a40 modification only affects when you commit/push the master/v2.2.2 branch. (Therefore, when you commit/push to the v2.3 branch, Github Pages will be successfully deployed as it is.)
I think it's better to limit the watch branch to only the active branch, such as the development/v2.3 branch, in the 'o

[2022-05-27 11:17] silverhook commented on #689
I’m with @swinslow on that.

((…if anything, I’d be in favour of reverting the *GPL family to be _back_ in line with the `+` operand, but that’s probably not likely. Had to be said though))

[2022-05-28 18:56] goneall commented on #661
@tsteenbe Since you were the original author of the Mkdocs - can you comment on @NorioKobota observation above?

Seems to make sense to limit the branch being updated.  The only issue I can think of is we need to update this whenever we create a new branch.  Probably something we can add into a release checklist.

@iamwillbar Also - any thoughts on this?

[2022-06-01 23:33] ahouse101 opened #704 "Question: v2.2.2 spec "DESCRIBES" relationship vs documentDescribes field in samples"
The v2.2.2 spec doesn't mention a "Document describes" field in the Document Creation Information section, but I noticed that the samples for JSON and XML both include `documentDescribes` fields (with multiple entries) as well as listing the `DESCRIBES` relationships in the `relationships` section. I wanted to confirm that the following `documentDescribes` usage:
[code]
is equivalent to using the

[2022-06-02 00:14] goneall commented on #704
Confirmed - this is my understanding as well

There is a [schema](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/schemas/spdx-schema.json) which you can refer to.  There is a known issue with the spec where JSON is underspecified, so we've been using the schema as the primary resource when answering questions of cardinality.  In the schema, this field is not listed as required (https://

[2022-06-02 00:35] ahouse101 commented on #704
Thanks for the prompt response, that's useful info.

[2022-06-03 02:03] goneall commented on #680
This is resolved with PR #702 PR #701 PR #699 PR #698 PR #697 PR #693 PR #692 and/or PR #676

[2022-06-03 02:03] #680 closed

[2022-06-03 02:04] goneall commented on #661
This is resolved with PR #702 PR #701 PR #699 PR #698 PR #697 PR #693 PR #692 and/or PR #676

Thanks @NorioKobota and @tsteenbe with the help - let me know if you see any remaining issues

[2022-06-03 02:04] #661 closed

[2022-06-03 02:04] goneall commented on #630
This is resolved with PR #702 PR #701 PR #699 PR #698 PR #697 PR #693 PR #692 and/or PR #676

[2022-06-03 02:04] #630 closed

[2022-06-03 02:07] goneall opened #705 "https://spdx.github.io/spdx-spec/v2-draft/ should point to the v2.3 spec"
It is currently showing v2.2.2.

This may have been broken with one of the recent PR's:

PR #702 PR #701 PR #699 PR #698 PR #697 PR #693 PR #692 and/or PR #676

@NorioKobota @tsteenbe - would you mind taking a look and see what went wrong?

[2022-06-03 02:39] NorioKobota commented on #705
@goneall @tsteenbe
Thank you.

https://github.com/spdx/spdx-spec/blob/development/v2.3/.github/workflows/publish.yml#L8
https://github.com/spdx/spdx-spec/blob/development/v2.3/.github/workflows/publish.yml#L28
Only branches that have changed are now built.

https://github.com/spdx/spdx-spec/blob/development/v2.3/.github/workflows/publish.yml#L49
However, to publish as a website, both master and v2

[2022-06-06 17:16] #636 closed

[2022-06-06 19:28] ivanayov commented on #636
I realised I've written the PR description to automatically close this.
Should we reopen or bring the [discussion](https://github.com/spdx/spdx-spec/pull/703#discussion_r888102595) to a new issue?

[2022-06-06 19:39] MarkLodato commented on #636
I suggest reopening this one to resolve. I'll send a PR to address.

_From @ivanayov in https://github.com/spdx/spdx-spec/pull/703#discussion_r890316762:_

So then I suggest we just say that this is interpreted as a `<rev>`, but the last 3 are disallowed.

[2022-06-12 19:10] goneall commented on #691
@rjb4standards Let me know kif this is resolved or something we should discuss on Tuesday's tech call

[2022-06-13 17:26] vargenau opened #712 "Inconsistency in the syntax of comments in tag-value format"
In the SPDX standard, we have several fields for commenting various entities.

In the list below, we have cases where delimiting the comment by <text> .. </text> is always mandatory, and cases where it is mandatory only when the comment has multiple lines.

This is inconsistent and adds unnecessary complexity to the standard.

I would recommend to make  <text> .. </text> always mandatory.

What do

[2022-06-13 17:45] goneall commented on #712
This is one of those things that makes Tag/Value much more complex to parse and I'm all in favor of decreasing the complexity.

Since this would be a breaking change, it would have to be a 3.0 update.

[2022-06-13 20:51] davaya opened #714 "Combine Package external reference and external reference comment"
`chapters/package-information.md` has Section 7.21 External reference field, and Section 7.22 External reference comment field.  This is confusing, since a comment is a property of a specific external reference, not an independent type.

In tag:value format an external reference with comment is encoded with two tags. Including the \<text\> field directly after the category, type, and locator field

[2022-06-13 21:32] goneall commented on #539
Since resolving this would break some of the SPDX 2.X tooling, I'm moving this issue to 3.0.

[2022-06-15 15:51] goneall opened #720 "Should packagePurpose have cardinality 0..1?"
[Package Purpose](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/package-information.md#724-package-purpose-field-) currently has a cardinality of `0..*` allowing more than one purpose.

@rjb4standards raised a good [issue in the schema pull request](https://github.com/spdx/spdx-spec/pull/716#pullrequestreview-1007709766):

Should we change the cardinality to `0..1` to resolve th

[2022-06-15 16:00] rnjudge commented on #720
+1 from me as well. `0...1` makes sense to me.

[2022-06-15 17:04] davaya commented on #714
Note that license comments (section 16) appears similar to reference comments, but there is no requirement for license comments to be linked to or immediately follow concluded license (section 13).  Thus license comments appears to be an independent standalone property, not a sub-property of concluded license.

[2022-06-15 18:18] davaya commented on #720
This was covered in the v3 discussions, and I believe the consensus was that a package could have multiple SoftwarePurposes (e.g., [APPLICATION, SOURCE]).  Since Package Purpose didn't exist in v2.2.2 and was added in 2.3, one might conclude that it was a backport of something useful from v.3.

If the decision is to allow only a single purpose in 2.3, then the same rationale should apply and v3.0

[2022-06-15 23:04] goneall commented on #720
Agree - my vote would be to change this for both 2.3 and 3.0

Now bringing @iamwillbar into the conversation.  William - do you recall the proponents of allowing more than one purpose?  If it was theoretical, we have a practical reason to keep it at 1.  If there was a use case which required multiple, we should probably discuss before making a decision.

[2022-06-15 23:31] rjb4standards commented on #720
+1 to Garys suggestion

Sent from my iPhone

[2022-06-16 13:22] seabass-labrax commented on #720
@goneall, I'm one of the proponents you mention :smiley:

I feel strongly that this should be `0..*`, which is what we came to in previous discussions (see my [reply to Nisha on the original pull request](https://github.com/spdx/spdx-spec/pull/622#issuecomment-1040577007) for context) for context). This is because some of the package purpose options overlap, limiting future use of a SBOM in which

[2022-06-16 13:47] rjb4standards commented on #720
@seabass-labrax was there any discussion regarding how to identify the "primary purpose" when the set contains > 1 purpose? As an implementer I want to be able to identify the primary purpose, so that I can decide which introspection logic to apply to the object. For example, our SW processes INSTALL packages very differently from "FILE" packages.  Thanks.

[2022-06-16 15:37] goneall commented on #720
I have the same issue @rjb4standards describes above when converting between SBOM formats.

Sounds like something that needs further thought and discussion.

@seabass-labrax - Do you have a concrete planned usage for more than one purpose or is this more a case where we want to design for the future possibilities?

Here's the options I can think of:
1. Leave the cardinality in 2.3 at 0..*
2. Chang

[2022-06-16 18:07] davaya commented on #720
Cardinality of 0..* is not strictly compatible with cardinality of 0..1 unless you mandate that for properties with cardinality 0..*, an instance of one must be serialized differently from an instance of two or more: a string vs. a list containing one string.  That would be possible, but quite unusual since it requires runtime determination of data types.

[2022-06-16 19:00] goneall commented on #720
Excellent point - I'll retract that incorrect statement

[2022-06-16 19:12] goneall commented on #720
With a couple votes for option 4, I created PR #721 with proposed changes.

[2022-06-17 07:49] Doktoreher opened #723 "SPDX validator throws error while validating v2.2 sample JSON"
https://tools.spdx.org/app/validate/ validator throws the following error when applied to the sample JSON (https://github.com/spdx/spdx-spec/blob/development/v2.2/examples/SPDXJSONExample-v2.2.spdx.json)

"Error!
Analysis exception processing SPDX file: Missing document namespace"

[2022-06-17 14:40] goneall commented on #723
I just tried it and ran into the same error.  The v2.3 examples does work.

Since we haven't updated the examples in v2.3 to the 2.3 spec changes, we can just copy those examples back over to v2.2.

[2022-06-17 17:53] goneall commented on #723
I just checked and the version 2.2.1 examples also work.

I'll create a PR copying the v2.2.1 examples to the v2.2 repo.

@Doktoreher FYI - I updated the title to be more specific to the version of the examples not working.

[2022-06-20 13:15] kwijbrans-philips opened #725 "Clause 6.5.3 example: unclear how to calculate UUID for DocumentNamespace"
SPDX 2.2.1 section 6.5 defines the document name space field as http://[CreatorWebsite]/[pathToSpdx]/DocumentName]-[UUID]. If I try to reproduce the UUID in example 6.5.3 using a version 5 UUID from I get to different UUIDs.

Question 1: the example is incomplete - is this deliberate? In addition, it is not clear if it is a version 4 or version 5 UUID. I assume version 4 because none of the versio

[2022-06-20 17:29] goneall commented on #725
@kwijbrans-philips I don't think there was any intent to create an incomplete example.  It was done some time ago, but it should be consistent and complete.

Thanks for bringing these issue to light.  Since the example was a best practice and not a requirement, it probably didn't get as much review.

Based on your question 2, I don't think this was clarified or described previously.  From what I c

[2022-06-21 10:04] alex4200 opened #726 "How to use SPDX for LICENSE in github?"
Hello,

I am very new to this SPDX "thing" and the flood of information, data and repos confuse me.

Sorry if this is the wrong to ask this kind of question, but I did not see any contact form.

So if I understand it correct, SPDX is just a way to say what license a file has. Is that correct?

Does this also apply to the main LICENSE file that I have in my github repo? Can I just remove all conten

[2022-06-21 14:49] goneall commented on #720
@seabass-labrax - Just checking to make sure you're OK with the proposed solution of 2 properties - one with a cardinality of 0..1 and one with a cardinality of 0..* - that way we can achieve both use cases.  We'll introduce the one with cardinality 0..1 in 2.3 since it is key to solving some of the security related use cases.

[2022-06-21 14:54] rjb4standards commented on #720
Gary,

REA is prepared to implement the PrimaryPackagePurpose with a cardinality of 0..1 in SPDX V 2.3 as a sub-element within a Package description, as shown in the example below in Tag Value format:

PrimaryPackagePurpose: INSTALL

Thanks,

Dick Brooks

Active Member of the CISA Critical Manufacturing Sector,

Sector Coordinating Council – A Public-Private Partnership

 <https://reliableenergyan

[2022-06-21 15:23] goneall commented on #726
Hi @alex4200 - SPDX is a standard way of describing the contents of a package including the license for the package.  There are a couple of related standards for how you can describe the license within your source package - I would suggest looking into the [FSFE Reuse](https://reuse.software/dev/) for guidance on best practices related to declaring licenses for your packages.  They are compatible

[2022-06-22 05:11] alex4200 commented on #726
Thanks @goneall for your link - so what I understand of the examples given, the best practice is to create a LICENSE folder containing the licenses in text form, and not in SPDX form? Do I understand that correct?

[2022-06-22 05:40] kwijbrans-philips commented on #725
Yes, will look into this this week.

From: goneall ***@***.***>
Sent: maandag 20 juni 2022 19:30
To: spdx/spdx-spec ***@***.***>
Cc: Wijbrans, Klaas ***@***.***>; Mention ***@***.***>
Subject: Re: [spdx/spdx-spec] Clause 6.5.3 example: unclear how to calculate UUID for DocumentNamespace (Issue #725)
Importance: Low

Caution: This e-mail originated from outside of Philips, be careful for phishing.

[2022-06-22 10:33] goneall commented on #726
That is my understanding as well.  In addition to the license file, you should have comments in each of the source files with an SPDX license identifier (see the [Comment Headers](https://reuse.software/spec/#comment-headers) section of the REUSE spec).

If you follow the format specified for the REUSE comment headers, automated tooling will be able to recognize your license and copyright choices

[2022-06-22 11:32] goneall commented on #725
Perhaps I should open this as a separate issue, but I thought I would add a suggestion made by @coderpatros that we use URN's instead of URL's in our example URI's.  From reviewing the [W3C recommendations]([@coderpatros](https://twitter.com/coderpatros)), this looks like a very good suggestion.

I'll definitely bring this up for version 3.0, but since we're looking and clarifying the recommended

[2022-06-22 19:23] goneall commented on #705
Turns out that this does get updated for some merges, but not updated for others.

Below is a screenshot from the Github action:

![image](https://user-images.githubusercontent.com/378172/175119549-32f423f8-e800-42c4-a559-be5b9bea1d2f.png)

[2022-06-22 20:49] seabass-labrax commented on #725
I would also like to add that there isn't necessarily a 'right' or 'wrong' way to produce document namespaces - extra guidance is always good of course :smiley:

[2022-06-23 22:18] goneall commented on #606
Resolved with PR #716

[2022-06-23 22:18] #606 closed

[2022-06-23 22:19] goneall commented on #459
Several of the issues have been Resolved with PR #716.  A new issue has been created to track any remaining items.

[2022-06-23 22:19] #459 closed

[2022-06-24 06:09] NorioKobota commented on #705
As far as I checked, it is not possible to build each branch independently and create a website.
It is difficult to explain in words for me, so I will put pictures.

The following configuration will attempt to create a website independently, but it will cause problems as shown in the attached picture.
https://github.com/NorioKobota/spdx-spec/blob/fix-705-default/.github/workflows/publish.yml

If s

[2022-06-24 07:25] NorioKobota commented on #705
Reverting following two commits will solve the problem, but I think there is some intention, so I will leave it to you.
https://github.com/spdx/spdx-spec/commit/7ba7bf571c0c3c3fd6a4bd780914d58f9274adcc
https://github.com/spdx/spdx-spec/commit/ed94fa4f74eae7a5486892375aa87f13270f9dd8
Best Regards.

[2022-06-24 19:31] JPEWdev opened #727 "Finding SPDX files for external documents"
We have a use case where we are generating multiples SPDX files that in aggregate describe a single system. These documents are linked together using a complex combination of external document references; however it is difficult for end users to find the indivual files when walking through these documents; the documents themselves are have a `documentNamespace` with a unique identifier, but this d

[2022-06-24 19:46] JPEWdev opened #728 "Add RUNTIME_ENVIRONMENT_OF relationship"
We have a case where packages present in an image have circular runtime dependencies (this is allowed by most package managers), which means it is impossible to encode the runtime dependency information using `RUNTIME_DEPENDENCY_OF` in these documents, because it is not a Directed Acyclical Graph (which is required for the document checksums be calculable). To work around this, we create a separat

[2022-06-24 21:51] goneall commented on #727
One possible short term solution would be to use the Annotation property for the Document with an Annotation Type "OTHER" and a comment field that includes the filename (e.g. `FileLocation: /spdxdocs/mydoc.spdx.json`).

Longer term we could add a location property in the External Document Reference fields.  If we do take this approach, we would probably use a URL format to allow for local and netw

[2022-06-24 23:44] goneall opened #729 "Use of dashes in enumeration values for spec"
Some of the new checksum enumeration values have dashes (e.g. `SHA3-512`) which isn't very friendly to some computer languages requiring translation to some other character like underscores.

In the JSON format being ready by Java, for example, `SHA3-512` would convert to an enum constant `SHA3_512` since dashes are not allowed in the enum values.

Should we replace these dashes with underscores t

[2022-06-24 23:45] goneall commented on #729
My guess is we will want to leave these as dashes since it is more human readable vs. underscores, but I thought I would put this out there for consideration - and also to alert all the tools folks that you may need to do some conversion work if we leave them as is.

[2022-06-24 23:56] goneall opened #730 "Checksum Documentation Inconsistency"
The new checksums added for 2.3 need to be added to the[ Package Information](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/package-information.md).  Suggest we just make a reference to the file section similar to what we did in the [external document reference checksum section](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/document-creation-information.md#66-

[2022-06-25 03:25] goneall commented on #729
On further reflection, all of the tag/value enumerations currently use dashes, to to keep things consistent we should continue this practice and use dashes for the new checksum enumerations.

Closing this issue.

[2022-06-25 03:25] #729 closed

[2022-06-25 03:35] goneall commented on #729
Just an update (leaving closed) - turns out I was wrong a second time.  Enums do NOT consistently use dashes.  Relationship type enums use underscores, External Reference Types and now Checksum Algorithms use dashes (argh).

[2022-06-28 14:04] JPEWdev commented on #727
Right, we've currently done an out-of-band solution to this problem by creating an (non-SPDX) "index.json" file that users can open. It maps document namespaces to file names (example [here](https://drive.google.com/file/d/1wK588nuNWeEflVfysMO5kKhFKZxwC84X/view?usp=sharing)). Being able to group multiple SPDX documents together in a single SBoM for distribution would be really helpful (currently,

[2022-06-28 14:22] JPEWdev commented on #728
As background: we are generating SPDX documents for Embedded Linux images, and we have SPDX documents that describe the packages installed in the image (e.g. .deb/.ipk/.rpm packages, just like you would install on your desktop), with one document being written per package. The problem is that package managers do not disallow circular runtime dependencies (it just means all the packages in the circ

[2022-07-04 08:44] #726 closed

[2022-07-06 13:23] kestewart opened #737 "Consider inclusion of SHA1-DC in SPDX 3.0"
From meeting, there is still too much ambiguity around the algorithm to include in 2.3.

see: https://github.com/spdx/spdx-spec/pull/734 for background.

[2022-07-06 20:34] goneall opened #738 "Update the differences section for version 2.3"
[diffs-from-previous-editions.md](https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/diffs-from-previous-editions.md) should be updated with the changes.

[This comment](https://github.com/spdx/spdx-spec/issues/691#issuecomment-1154198748) lists all the changes.

[2022-07-07 10:17] dineshr93 commented on #124
Is this enforced in spec ?
file1 requires license A and file2 requires license B
then

`A;B `
is valid expression ? Provided A and B are valid spdx id of respective license

[2022-07-07 13:33] swinslow commented on #124
Hi @dineshr93, no, `A;B` is not a valid SPDX license expression. The permitted operators for joining two licenses are `AND`, `OR`, and parentheses, and `WITH` for use with license exceptions. The license expression syntax is documented in [Annex D](https://spdx.github.io/spdx-spec/SPDX-license-expressions/).

[2022-07-08 20:53] tofay opened #739 "Embedding SPDX into binaries"
Embedding package information into binaries can enable SCA tools and scanners to detect dependencies and check them for vulnerabilities, without needing a separate mechanism to transfer an SBOM.

1. golang binaries embed dependency information in them by default, and scanners like trivy and syft can detect those dependencies.
2. https://github.com/ossf/wg-vulnerability-disclosures/issues/76 seeks

[2022-07-09 21:19] SoniEx2 opened #740 "IANA URN registration"
This... is a somewhat strange request, but we believe the SPDX should register an URN namespace, such that we can officially put `urn:SPDX-License-Identifier:` in URI fields. We make this request because we uh, successfully misused someone's API, and it gave us this idea.

E.g. `urn:spdx-license-identifier:0BSD AND LGPL-2.1-or-later`

Original API misuse: https://github.com/modrinth/code/issues/27

[2022-07-10 04:24] YuraYatsyshyn opened #741 "Uhhh"
Uhhh

_Originally posted by @YuraYatsyshyn in https://github.com/spdx/tools-golang/issues/151#issuecomment-1179653647_

[2022-07-10 19:43] swinslow commented on #739
Hi @tofay, good thoughts and good questions. I think this is interesting, and tend to agree that items 1 and particularly 2 from your list are likely to be the major drawbacks to an approach of embedding the document directly in the binary itself.

This may not be directly on point, but two prior discussions that might be of interest to you is at https://github.com/spdx/spdx-spec/issues/439 and ht

[2022-07-12 16:06] tofay commented on #739
Those linked issues are interesting, thanks. #439 overlaps in particular points desire to standardize the attachment of an SPDX document to a "package" (in that case a directory). I don't think this use case needs a new sub-format though.

Could the spdx-spec have a new appendix for attaching/embedding scenarios? That would enable scanning tools to look in specific locations.

Relatedly, I also sa

[2022-07-12 16:35] maxhbr opened #744 "For RelationTypes it is not clearly statet, which types are inverses of each other"
currently https://github.com/spdx/spdx-spec/blob/development/v2.3/chapters/relationships-between-SPDX-elements.md  does not explain, that `DEPENDENCY_OF` and `DEPENDS_ON` are inverses of each other. Making that explicit and stating that `$A DEPENDENCY_OF $B` is equivalent to `$B DEPENDS_ON $A` would be helpful. There are also others that have this property. And there is also `COPY_OF` which is the

[2022-07-17 17:26] zvr opened #745 "Ontology: mismatch in individuals lists"
In the RDF ontology, we have:

- in the [definition of filetype](https://github.com/spdx/spdx-spec/blob/development/v2.3/ontology/spdx-ontology.owl.xml#L241-L269), it is specified that it can be one of 4 values; but
- there are 11 [discrete filetypes defined](https://github.com/spdx/spdx-spec/blob/development/v2.3/ontology/spdx-ontology.owl.xml#L2941-L3049)

I assume the union restriction should b

[2022-07-19 17:39] seabass-labrax commented on #740
@SoniEx2, welcome and thanks for raising this issue :smiley:

I really like this idea! One thing that comes to mind is that there might be extra information that should be included (like which version of the License List it's referring to).

[2022-07-20 14:31] goneall opened #750 "Meta Issue - SPDX 2.3 release candidate"
Below are the remaining items which need to be completed before the review period can start for the SPDX 2.3 release:

- [x] Include the new How to Use Annex in the mkdocs generated html: @goneall
- [x] Update all references to version 2.2 to version 2.3: @kestewart
- [x] Update images ([spdx-spec](https://github.com/spdx/spdx-spec)/[chapters](https://github.com/spdx/spdx-spec/tree/development/v2.

[2022-07-20 19:49] goneall commented on #750
Thanks @swinslow  I'll add it to the list.

To avoid a conflict with PR #751 add it at the end as "Annex J".

[2022-07-21 14:44] goneall opened #756 "CI Build Failing"
The CI is failing on the v3-draft and v2-draft branches with the following error:

[code]

[2022-07-21 15:38] zvr opened #757 "Ontology issues (collected)"
While generating the diagrams and documentation for the ontology, I went at it with a very fine comb...

@goneall these are issues that I found. Most of them are minor, but it wouldn't hurt to have them fixed.

I assume you will work on Protege, so I won't volunteer to provide textual patches to the `.xml` file. For this reason, I also do not provide line numbers on each one; let me know if you ne

[2022-07-21 16:25] goneall commented on #757
Thanks @zvr - you really did go through a thorough review.

I'll take a look at these and see if I can get some fixes in today or tomorrow.

[2022-07-21 16:50] goneall commented on #757
I think the range in snippets (number 6 above) is OK since StartEndPointer is subclass of CompoundPointer and the more specific restriction is a subclass of the Snippet class.  However, I'm not completely sure.  We could just remove the range on the range property or change the Snippet range.  @zvr - let me know your thoughts on this.

[2022-07-21 16:53] goneall commented on #757
The 2 restrictions on the dataLicense (number 7 above) was by design.  Since the specific datalicense if a specific instance of AnyLicenseInfo, I don't think there is a contradiction.  The reason I put both of these as restrictions on dataLicense is that there has always been controversy about having only one choice and if we ever decided to remove the single license restriction, we could just rem

[2022-07-21 20:57] zvr commented on #757
6. `range`

I'd vote for using only `StartEndPointer` everywhere, i.e. change the range of `http://spdx.org/rdf/terms#range`

9. `licenseInfoFromFiles`

I believe this is a bug in the spec; I'll open a new issue for it to fix the description.
I assume in the ontology the fix would be to change the restrictions from `SimpleLicenseInfo | NOASSERTION | NONE` to `AnyLicenseInfo | NOASSERTION | NONE`,

[2022-07-21 21:22] goneall commented on #757
I just pushed a new commit to change the range of `http://spdx.org/rdf/terms#range` which should fix number 6 above in PR #759

For number 9, I tend to agree we should fix the spec and ontology + the model diagram to allow AnyLicenseInfo, but since it is a more substantial change I would suggest fixing all of these inconsistencies at the same time.

[2022-07-22 12:11] zvr opened #760 "Should licenses found in code be license expressions ?"
We have many ways of referring to licenses found in source code (using the tag-value names of the properties):
- at Package level, there is [PackageLicenseInfoFromFiles](https://spdx.github.io/spdx-spec/v2.3/package-information/#714-all-licenses-information-from-files-field)
- at File level, there is [LicenseInfoInFile](https://spdx.github.io/spdx-spec/v2.3/file-information/#86-license-information

[2022-07-22 12:12] zvr commented on #760
Forgot to add: @goneall did some historical research and it seems we have this since at least 2.0.

[2022-07-23 13:57] goneall commented on #757
@zvr I think this is resolved enough for version 2.3 - if you agree, please close the issue.

[2022-07-23 15:20] swinslow commented on #760
Hi @zvr -- I started a longer reply on this and then lost it, ugh.

I believe this is _not_ an error, rather a design decision that was intentionally made with the original intention for these fields. It pre-dates my involvement with SPDX which is why I'm not speaking more affirmatively on it, but I believe some of this was discussed when we were considering the fields for the license profile for

[2022-07-23 16:42] zvr commented on #760
OK, @swinslow , care to explain it a little more?

You mean that anything in a file or package can _not_ be found to be, e,g, under `GPL-2.0-only OR BSD-3-Clause` but it should have a single license?
Because this is what the description says.

As I've written, of course, the "metadata" table format for File and Snippet has the "License Expression" added. In this case, should we fix the metadata an

[2022-07-23 18:33] zvr opened #762 "Use OpenSSL 3, if available"
Code performing the hashing of file contents uses OpenSSL 1.x functions.

- Add code using OpenSSL 3.x functions
- Add autoconf code to determine version and use the correct functions according to case.

[2022-07-23 18:33] #762 closed

[2022-07-23 18:34] zvr commented on #762
pasted on wrong project -- ignore

[2022-07-23 18:48] zvr commented on #757
Yes, the only remaining is point 9 above, which we'll follow up in #760.

[2022-07-23 18:48] #757 closed

[2022-07-25 11:58] swinslow commented on #760
@zvr Apologies for the short response earlier, I was traveling all weekend and tried to reply quickly.

Here's my understanding of the meanings and intended uses of these fields. This is purely guessing because all of these fields pre-date my involvement with SPDX (@jlovejoy @pmadick @goneall @kestewart feel free to weigh in if you have more background on these)

* I believe the original purpose o

[2022-07-25 12:25] swinslow commented on #750
Discussed separately, I think the linking / external doc references document will be a page on the website whether than an Annex in the spec itself, so you can likely remove that task. Sorry for the confusion!

[2022-07-25 12:47] zvr commented on #760
Thanks for the expanded input, @swinslow.

The issue I'm seeing is, that if we do not allow License Expressions (any more?), what happens when I have a snippet/file with something like `GPL-2.0-only OR BSD-3-Clause` or even `Apache-2.0 WITH-LLVM-exception`? How do I record this on the upper level (File, Package)? Do I have to break the expression into single licenses?

To phrase it differently: I

[2022-07-25 13:06] swinslow commented on #760
Yup, I agree this is a potential consideration / concern.

I believe the original intent of the `LicenseInfoIn___` fields was simply to say "I found a reference to license XYZ in the Package/File/Snippet". The `LicenseConcluded` fields are then meant to be the place where the licenses are actually combined into expressions using `AND`s and `OR`s.

For exceptions, looking at the SPDX 2.0 spec I thi

[2022-07-25 16:53] goneall commented on #760
I don't recall the discussion on the changes to this field in 2.1, so I can't offer any historical perspective.

In terms of what we what we should do going forward, I think we should allow license expressions for the following reasons:
- The current spec is ambiguous and different readers may have implemented different parsers - we need to choose one approach (single license ID's or license expre

[2022-07-25 18:21] goneall commented on #760
I created a draft PR #764 to change update the RDF ontology if the above recommendation is accepted.

[2022-07-26 15:50] goneall commented on #738
Resolved with PR #752

[2022-07-26 15:50] #738 closed

[2022-07-26 15:51] goneall commented on #691
All tasks have been completed

[2022-07-26 15:51] #691 closed

[2022-07-27 12:28] kestewart commented on #740
@seabass-labrax - do we really need to include the license list version?   The identifiers are either in the list or depricated, but at any rate they can be found.

[2022-07-27 14:42] zvr commented on #740
Please note that SPDX already provides IRIs for all the _resources_ it publishes. For example, you can use `http://spdx.org/licenses/MIT` to refer to a specific license.

I am not sure of the advantage of having a URN namespace for arbitrary user-generated license _expressions_.

[2022-07-27 17:45] goneall commented on #760
Resolved with PR #771

[2022-07-27 17:45] #760 closed

[2022-07-27 19:48] #750 closed

[2022-07-28 16:18] goneall commented on #750
@jlovejoy Yes - I closed this issue as complete.  Is there any other issues we should close?

[2022-08-08 18:36] goneall opened #774 "Release SPDX 2.3"
The following tasks need to be completed for the 2.3 release:

- [x] Complete review period (end of day Wednesday 10 August 2022)
- [x] All issues in the 2.3 milestone are closed or assigned to another milestone
- [x] All pull requests in the 2.3 milestone are closed or assigned to another milestone
- [x]  Merge development/v2.3 branch to master
- [x] Add 2.3 release tag to master
- [x] Create dev

[2022-08-10 01:14] kestewart commented on #756
@goneall, @iamwillbar - is this resolved now, or is there still work to do.   If it's good, could one of you please close this.

[2022-08-10 01:24] kestewart commented on #728
@nishakm - Has the build profile group considered this proposal?

[2022-08-10 01:27] kestewart commented on #705
@goneall - I think this is resolved so closing it now.  Please reopen if it

[2022-08-10 01:27] #705 closed

[2022-08-10 02:19] kestewart commented on #608
Closing this as the NTIA minimum elements is now documented in 2.3 see: https://spdx.github.io/spdx-spec/v2.3-RC1/how-to-use/#k2-satisfying-ntia-minimum-elements-for-an-sbom-using-spdx

[2022-08-10 02:19] #608 closed

[2022-08-10 02:35] #587 closed

[2022-08-10 02:39] kestewart commented on #582
FILE_DELETED is relationship in 2.3 set.   see: https://spdx.github.io/spdx-spec/v2.3-RC1/relationships-between-SPDX-elements/

[2022-08-10 02:39] #582 closed

[2022-08-10 02:43] kestewart commented on #570
@goneall - I believed this was resolved in 2.2.1.   Please reopen if you believe it's still an issue.

[2022-08-10 02:43] #570 closed

[2022-08-10 02:45] kestewart commented on #532
@goneall - this looks like it's been resolved.  Please reopen if still an issue.

[2022-08-10 02:45] #532 closed

[2022-08-10 02:48] #490 closed

[2022-08-10 02:48] #484 closed

[2022-08-10 02:51] kestewart commented on #480
@goneall - I think we need to transfer this one to the python tools to check?

[2022-08-10 02:52] #473 closed

[2022-08-10 02:54] kestewart commented on #471
@swinslow - can you verify this is still an issue?   otherwise please close.

[2022-08-10 02:55] kestewart commented on #466
@iamwillbar has been solving this as part of 2.3 release.    Closing this, as I think we've mostly got it sorted now.    Please reopen if you disagree.

[2022-08-10 02:55] #466 closed

[2022-08-10 02:57] kestewart commented on #465
There is a group looking at extensions for functional safety as a 3.0+ profile now.    Marking this for their consideration.

[2022-08-10 03:00] kestewart commented on #458
Request has been made from Yocto group to allow "+" character as well, as it's used in library names.

[2022-08-10 03:01] kestewart commented on #453
Closing this now.   Please reopen if you disagree.

[2022-08-10 03:01] #453 closed

[2022-08-10 03:05] kestewart commented on #439
Closing this, as I believe the original point has been answered.   Please reopen if you disagree.

[2022-08-10 03:05] #439 closed

[2022-08-10 03:09] kestewart commented on #429
@goneall - is this still an issue in 2.3?    https://github.com/spdx/spdx-spec/blob/development/v2.2.1/chapters/license-matching-guidelines-and-templates.md#b152-template-format-

[2022-08-10 03:12] kestewart commented on #372
@nishakm - is this something you want considered for 3.0?

[2022-08-10 03:15] kestewart commented on #109
This has been handled in 2.3 as https://spdx.github.io/spdx-spec/v2.3-RC1/how-to-use/#k19-linking-to-an-sbom-vulnerability-report-for-a-software-product-per-nist-executive-order-14028.

[2022-08-10 03:15] #109 closed

[2022-08-10 03:17] kestewart commented on #101
This has been fixed in 2.3 in Appendix K - see: https://spdx.github.io/spdx-spec/v2.3-RC1/how-to-use/#k17-linking-to-a-code-fix-for-a-security-issue

[2022-08-10 03:17] #101 closed

[2022-08-10 03:19] kestewart commented on #21
This is being asked for from the dataset profile.   Moving it back into consideration for 3.0.

[2022-08-10 03:22] kestewart commented on #1
Closing this as I believe it's been sorted now.   But please reopen if you spot a location of a problem.

[2022-08-10 03:22] #1 closed

[2022-08-10 03:27] kestewart commented on #744
Agree this needs to be improved, but we're missing a PR to update the documentation at this point, and relationship directionality are being revisited in 3.0, so moving this issue to here.

[2022-08-10 16:51] goneall commented on #480
@kestewart In thinking about this, it will change back to an ID in spec version 3.0 since annotations are full elements.

I'm going to move this to the 3.0 milestone.

[2022-08-10 17:00] goneall commented on #471
I think this got fixed with @jlovejoy update to the license matching guidelines

[2022-08-10 17:02] goneall commented on #429
This issue is made obsolete with the recent changes to the matching guidelines chapter.

[2022-08-10 17:02] #429 closed

[2022-08-11 14:10] swinslow commented on #471
This looks fixed for the templating rendering. Though I'm noticing one issue with a bullet-point list in B.3.4 rendering correctly in MarkDown but incorrectly on the website:

MarkDown on GitHub:
<img width="685" alt="image" src="https://user-images.githubusercontent.com/678569/184152971-5b9b7a87-dd5f-4306-a83d-b63e890d114d.png">

Rendered on Website:
<img width="591" alt="image" src="https://user

[2022-08-11 14:13] swinslow commented on #471
I believe that #778 should likely fix this rendering issue, and then I think this overall issue can be closed. Apologies for hijacking this issue with a minor tangent and I can submit a separate issue if you'd prefer.

[2022-08-11 15:12] kestewart commented on #725
We don't have a volunteer to update this, so moving this to 3.0

[2022-08-11 15:14] goneall commented on #723
Resolved with PR #724

[2022-08-11 15:14] #723 closed

[2022-08-11 15:19] kestewart commented on #664
This was resolved in https://github.com/spdx/spdx-spec/pull/474.   If you disagree @henkbirkholz - please reopen.

[2022-08-11 15:19] #664 closed

[2022-08-11 15:27] kestewart commented on #642
Not tied to the 2.3 release, so moving this forward for consideration.

[2022-08-11 15:28] #593 closed

[2022-08-11 15:30] #578 closed

[2022-08-11 15:33] kestewart commented on #571
This needs further discussion, after discussion with Gary we're not going to block the 2.3 release on this.    @iamwillbar can you get with @johnterickson and come up with a recommendation for 3.0.

[2022-08-11 15:38] goneall commented on #540
This was resolved with the recent schema updates

[2022-08-11 15:38] #540 closed

[2022-08-11 15:42] #520 closed

[2022-08-11 15:44] #511 closed

[2022-08-11 15:45] kestewart commented on #515
This has been fixed in 10.2.3 in 2.3 release

[2022-08-11 15:45] #515 closed

[2022-08-11 16:14] goneall commented on #499
Moving this issue to 3.0 since it may have compatibility implications

[2022-08-11 17:48] goneall commented on #615
@anthonyharrison Sorry I didn't get to this for the 2.3 release.  Let's target getting an updates XSD in place for 3.0.

[2022-08-11 17:51] goneall commented on #518
Resolved with #519

[2022-08-11 17:51] #518 closed

[2022-08-11 17:53] goneall commented on #496
We now provide both OWL and Turtle in the ontologies folder.  Closing as resolved.

[2022-08-11 17:53] #496 closed

[2022-08-11 17:54] goneall commented on #471
Resolved with #778

[2022-08-11 17:54] #471 closed

[2022-08-11 17:58] goneall commented on #456
It looks like this was partially resolved in 2.3, but we still have the redundant expressions.

Since we're past the review period for 2.3, I'm pushing this to a 3.0 fix.

[2022-08-11 18:00] goneall commented on #441
This has been resolved with the updated examples.

[2022-08-11 18:01] goneall commented on #414
Moving this to 3.0 since it may involve breaking changes

[2022-08-11 18:04] goneall commented on #348
Moving to 3.0 milestone

[2022-08-11 18:05] goneall commented on #261
@davaya - Can this issue be closed?  If not, I can move it over to the model repo.

[2022-08-11 20:06] #506 closed

[2022-08-11 20:27] kestewart commented on #35
Possibly we should also consider adding in "STANDARD" as the AI & FUSA profiles will reference this.

[2022-08-11 21:54] kestewart commented on #662
While starting to publish the 2.3, figured out where this was, and have fixed it.   Thanks!

[2022-08-11 21:54] #662 closed

[2022-08-11 22:10] kestewart commented on #663
Fixed the website while updating the 2.3 release.   Should be good now.

[2022-08-11 22:11] #663 closed

[2022-08-12 21:20] nishakm commented on #728
@kestewart no but I think it would be great to have it @lumjjb

[2022-08-12 21:28] nishakm commented on #728
Although, on reading the text above, it looks like the problems are different: the original use case was to handle circular dependencies, whereas the build profile group was looking for something that describes the relationship between a package and a build environment consisting of a list of packages, configs, containers, VMs, however deep you want to go down the stack. I don't think it's the sam

[2022-08-12 23:36] bjamesv opened #781 "File `licenseInfoInFile` typos in 2.3 json Examples"
https://github.com/spdx/spdx-spec/blob/aadf3b0b8dbbabdb4d880b0fc714255fea436ff7/examples/SPDXJSONExample-v2.2.spdx.json#L164

field should be rendered as `licenseInfoInFile` per spec https://spdx.github.io/spdx-spec/file-information/#863-examples

There may be similar occurrences of this elsewhere in the examples, I haven't checked around yet.

[2022-08-12 23:36] bjamesv commented on #781
@goneall

[2022-08-13 01:18] goneall commented on #781
@bjamesv This is by design - for the JSON and YAML, any property with a cardinality `1..*` or `0..*` is pluralized.

[2022-08-13 01:35] bjamesv commented on #781
👍 thank you

[2022-08-13 16:59] #781 closed

[2022-08-14 13:26] goneall commented on #618
Note that PR #783 updates the examples to be consistent with the updated schema

[2022-08-15 03:06] santosomar commented on #511
Thank you so much for all the great work, collaboration, and support!

[2022-08-15 14:54] lumjjb commented on #728
I've added an agenda item to the build profile to discuss this. From reading through (and also context from chatting with @JPEWdev and @kestewart at OSS NA), I think it is related but still will be separate context.

Chatting with folks from deps.dev, there are also some cases in language ecosystems where the circular dependencies show up as well... Wondering if any ideas from the envelope/postcar

[2022-08-15 16:11] patriksvensson opened #785 "`licenseTextHtml` in 2.2 spec"
I looked through the examples and found the usage of `licenseTextHtml` (https://github.com/spdx/spdx-spec/blob/development/v2.3.1/examples/SPDXRdfExample-v2.2.spdx.rdf.xml#L26), but I cannot find anything about this in the v2.2 specification.

Is this something that has been deprecated and not part of the v2.2 specification?

[2022-08-19 15:27] maxhbr opened #786 "Three questions about Relationships in SPDX"
These questions were initially asked in https://gitter.im/spdx-org/Lobby?at=62f39c84458f823ce0ac6194:

1. What is the difference between `DEPENDENCY_MANIFEST_OF` and `METAFILE_OF`, the descriptions sound pretty similar and for me `pom.xml` and `package.json` live in the same bucket:
    * `METAFILE_OF` says: A SOURCE file `pom.xml` is a metafile of the APPLICATION ‘Apache Xerces’.
    * `DEPENDENC

[2022-08-20 16:41] goneall commented on #786
You can look at issue #154 where this was discussed

I believe so - I use it for that purpose

For the `FILE_ADDED` and `FILE_DELETED` - I recall the use cases being discussed were for relationships to SPDX Packages, but the same relationship could be used for archives.

Good point in the ternary relationships.  I don't use this relationship much myself, but my interpretation would be that you are

[2022-08-26 03:31] iamwillbar commented on #786
For the `EXPANDED_FROM_ARCHIVE` relationship, this would be used to describe a `File` that had been extracted to another location. For example, the `File` referenced by a `CONTAINS` relationship would have a path relative to the root of the archive, whereas a `File` referenced by `EXPANDED_FROM_ARCHIVE` would have a path relative to the `Package` that contains it. The `EXPANDED_FROM_ARCHIVE` is th

[2022-08-26 03:34] iamwillbar commented on #785
I believe this is unique to RDF because it allows multiple representations of a value, but @goneall should be able to confirm that.

[2022-08-26 04:22] goneall commented on #785
@patriksvensson This is unique to the RDF examples.  The RDF picks up all the properties for the SPDX listed license - many of these properties are not documented in the spec - see issue #46

They are, however, documented in the RDF OWL document - an HTML version can be found here: https://spdx.org/rdf/terms/

[2022-09-08 11:09] alinavalovenko opened #788 "An example of using relationshipType_dependencyOf in RDF format"
Hello team, could please provide me with an example of using relationshipType_dependencyOf to describe SPDXRef-A is
dependency of SPDXRef-B.

here the example of how I understood the documentation, could please check if that example is correct one or no?

[code]
    thanks in advance

    Best regards,
Alina Valovenko

[2022-09-11 00:45] SoniEx2 commented on #740
honestly, being able to refer to expressions as URNs kinda just makes SPDX expressions compatible with anything that accepts arbitrary URLs for licenses.

as for versioning it... well, `urn:spdx-license-identifier:v2.2:...` isn't too bad tbh.

[2022-09-15 10:09] alinavalovenko opened #790 "SDPX Validator complains on licenseConcluded tag which is written according to specification"
Hello team, currently I'm working in fixing errors to pass validation and face situation when validator start complaining on things which are seems to be correct according to specification. I use online tool https://tools.spdx.org/app/validate/ to validate spdx document.

_ps: Document I work with is written in RDF format._

Issue I face is related to licenseConcluded tag  <spdx:licenseConcluded r

[2022-09-15 12:34] goneall commented on #790
@alinavalovenko The validator should validate according to the spec.  Of course it is possible for there to be bugs in the validator or one of its dependent libraries.  From your summary, it looks like the document should validate, but I'll need to dig into it a bit more to see if it is an issue with the tool.  I'm currently traveling, so it may take a few days to research.  The validator is all o

[2022-09-19 06:33] goneall commented on #790
@alinavalovenko I did some research and the issue is specific to the RDF parser.  As you observed, it does expect the entire SPDX listed license properties to be included in the document.  It isn't just an issue with the validator, it will also prevent accessing the properties for the listed licenses.

I'm going to transfer this to the SPDX RDF Store repo - the source of the issue.

I would like t

[2022-09-19 06:37] goneall commented on #790
One possible solution is to reference the [ListedLicenses](https://github.com/spdx/Spdx-Java-Library/blob/master/src/main/java/org/spdx/library/model/license/ListedLicenses.java) if there are no properties stored for an SPDX listed license.

We should probably default to the local store of the properties if they exist in the document, although that could be open for debate.

The design of this fix

[2022-10-02 14:13] ddillard opened #792 "PACKAGE_MANAGER vs PACKAGE-MANAGER"
I see in #618 that it was decided to use PACKAGE_MANAGER instead of PACKAGE-MANAGER as an external reference category.  However, in a [commit from July](https://github.com/spdx/spdx-spec/commit/214f23d34ee287cb1db5b31c3d571af291e836f3) this  was undone in the schema so that it now is PACKAGE-MANAGER.  There are SBOM generators out there that use both values (I was doing some testing and noticed th

[2022-10-02 21:08] goneall commented on #792
From reading through the history, it looks like I changed `PACKAGE_MANAGER` to `PACKAGE-MANAGER` in the examples and in the schema for the 2.3 release.  This may have been due to the introduction of other enums with dashes.

This does create a compatibility issue and I agree it should be resolved.

I would propose supporting both underscores and dashes.

This does put a burden on tools, since they

[2022-10-02 21:11] goneall commented on #792
@coderpatros - any concerns with supporting both?

[2022-10-05 03:37] #792 closed

[2022-10-05 21:06] coderpatros commented on #792
No worries @goneall, will this apply to all instances going forward? i.e. PERSISTENT-ID

[2022-10-06 00:18] goneall commented on #792
@coderpatros

Thanks for your understanding

Yes

Good question - I don't have an answer from the SPDX community (we didn't discuss this on the tech call).  My personal suggestion is the default should match the spec documentation.

BTW - in the next major release of the spec (3.0), we can resolve this to a single value since the compatibility constraints are a bit relaxed.

[2022-10-06 19:58] kzantow opened #794 "Discrepancy in JSON schema Primary Package Purpose"
The JSON schema for v2.3.1 includes `primaryPackagePurpose` as a `string` type: https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json#L408-L412 but the spec says the cardinality is: `0..*`: https://spdx.github.io/spdx-spec/v2.3/package-information/#724-primary-package-purpose-field. Which is correct? It seems like from the wording of the spec, it should actually be `0.

[2022-10-06 21:45] kzantow opened #795 "JSON schema should include `documentNamespace` as required"
According to the spec here: https://spdx.github.io/spdx-spec/v2.3/document-creation-information/#65-spdx-document-namespace-field `Document Namespace` is required, but the JSON schema does not include it as a required field here: https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json#L738

[2022-10-06 21:51] goneall commented on #794
From this issue: https://github.com/spdx/spdx-spec/issues/720 - it looks like we decided on a cardinality of `0..1`.

It looks like we updated the JSON schema but forgot to update the spec itself.  @kzantow - would you mind creating a PR to fix the spec?

[2022-10-06 22:11] goneall commented on #795
Thanks @kzantow  - good catch.

I'll create a PR to resolve (the JSON schema is generated).

[2022-10-06 22:12] kzantow commented on #794
Sure thing, @goneall !

[2022-10-06 22:22] kzantow commented on #794
Done. I haven't contributed to this repo before, so hopefully that's all that is needed!

[2022-10-07 00:31] goneall commented on #794
Thanks @kzantow

[2022-10-07 02:37] #794 closed

[2022-10-08 19:35] mlieberman85 opened #798 "Discrepancy between docs and json schema on PACKAGE_MANGER vs. PACKAGE-MANAGER"
On both the docs for SPDX 2.2 and 2.3 there are discrepancies with the json schema.

https://spdx.github.io/spdx-spec/package-information/ (2.2) and https://spdx.github.io/spdx-spec/v2.3/package-information/ under Table 33:

[code]

On SPDX 2.2.2 schema - https://github.com/spdx/spdx-spec/blob/development/v2.2.2/schemas/spdx-schema.json:

[code]

on SPDX 2.3.1 schema:

[code]

The 2.3.1 json schem

[2022-10-08 19:45] mlieberman85 commented on #798
Looking now, is related to: https://github.com/spdx/spdx-spec/issues/792

[2022-10-11 07:21] rjb4standards commented on #720
David,

An optional singleton (0..1) is preferred by REA for SPDX V 2.3, following Gary’s proposal (4).

Thanks,

Dick Brooks

Active Member of the CISA Critical Manufacturing Sector,

Sector Coordinating Council – A Public-Private Partnership

 <https://reliableenergyanalytics.com/products> Never trust software, always verify and report! ™

 <http://www.reliableenergyanalytics.com/> http://www.re

[2022-10-13 11:24] nicoweidner opened #799 "Erroneous referenceType in xml, rdf.xml and yaml examples"
The referenceType in [the rdf.xml example](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/examples/SPDXRdfExample-v2.3.spdx.rdf.xml#L1525), [the xml example](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/examples/SPDXXMLExample-v2.3.spdx.xml#L270) and [the yaml example](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/examples/SPDXYAMLExample-2.3.spdx.yaml#L235) is

[2022-10-18 19:01] #799 closed

[2022-10-19 09:53] pombredanne commented on #153
@sschuberth I am not opposed to it, but this is not even the case for exceptions on the exception list (e.g., there are "official" exceptions that do not use "exception" in their ids), so I cannot see how this could become a requirement for other exceptions.

[2022-10-19 10:04] sschuberth commented on #153
Well, we have to start somewhere with establishing best practices. And of course existing exceptions would need to be updated to follow these, too, at some point.

[2022-10-19 17:08] goneall commented on #153
Providing a link to a proposal made by @zvr - https://github.com/spdx/change-proposal/issues/4

[2022-10-28 09:43] nicoweidner opened #801 "Spec should allow 0..1 checksums for non-SHA1 checksums on files, not 0..*"
In the spec for the file checksum field (https://spdx.github.io/spdx-spec/v2.3/file-information/#84-file-checksum-field), it says:
[code]
This means that a file needs to have exactly one `SHA1` checksum, but could have 100 `SHA256` checksums, for example. I believe each other algorithm should appear with cardinality 0..1 instead?

[2022-10-28 14:54] nicoweidner opened #802 "Package verification code and all licenses information from fields should not be marked as required."
See https://spdx.github.io/spdx-spec/v2.2.2/package-information/#79-package-verification-code-field and https://spdx.github.io/spdx-spec/v2.2.2/package-information/#714-all-licenses-information-from-files-field. In both cases, the attributes are marked as required. However, cardinality is 0..1 resp. 0..* in some cases, and 0..0 in others - so clearly they are not required in any case.

[2022-10-28 17:31] alilleybrinker commented on #801
I think this is saying that you _have to_ provide a SHA1 checksum, but you can provide any number (including none) of other checksums. So it's not saying that each type of checksum can be repeated, but rather that you can have any many other checksums as you want.

[2022-10-28 19:29] goneall commented on #756
Creating a new issue to track the fact that https://spdx.github.io/spdx-spec/ points to 2.2.2 instead of 2.3

[2022-10-28 19:29] #756 closed

[2022-10-28 19:30] goneall opened #803 "SPDX Spec URL points to 2.2.2 spec - should be 2.3"
https://spdx.github.io/spdx-spec/ points to 2.2.2 instead of 2.3

@iamwillbar @tsteenbe Could you both take a look at this and see if it can be fixed?  We have a number of website which use this URL for the current version.

[2022-10-29 18:22] goneall commented on #801
I believe this was the intent.  The cardinality applies to the entire checksum.

[2022-10-29 20:28] nicoweidner commented on #801
I suppose I am being nitpicky about wording here. I find it confusing since the same sentence lists the cardinality of one specific algorithm (SHA1) and the cardinality of the union of all other algorithms. I would prefer `0..1 for each other algorithm`, but I get how the sentence is intended.

[2022-10-31 09:43] nicoweidner commented on #803
To add to this, since we also noticed recently: In the URL Gary posted, there is no version selection dropdown in the top left. When navigating to a version-specific URL such as https://spdx.github.io/spdx-spec/v2.3/, the dropdown appears (see screenshot).
I think having the dropdown on the "main" page would be good!
![Screenshot from 2022-10-31 10-42-56](https://user-images.githubusercontent.com/

[2022-10-31 09:48] nicoweidner opened #804 "JSON schema uses licenseInfoInSnippets (plural) instead of licenseInfoInSnippet"
I assume this is a typo: [In the json schema](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json#L639), the property name is in plural, whereas it's singular [in the spec](https://spdx.github.io/spdx-spec/v2.3/snippet-information/#96-license-information-in-snippet-field) (rdf and tagValue examples).

The singular version makes more sense, imho, since it describes th

[2022-10-31 17:45] goneall commented on #804
@nicoweidner The schema is actually generated from the [OWL Ontology](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/ontology/spdx-ontology.owl.ttl) using the [Schema converter utility](https://github.com/spdx/tools-java/blob/master/src/main/java/org/spdx/tools/schema/OwlToJsonSchema.java).

The utility converts any property with a cardinality allowing more than 1 to plural.

In this pa

[2022-10-31 21:22] goneall commented on #615
Thanks @anthonyharrison

[2022-11-02 08:31] nicoweidner commented on #804
@goneall Thanks for the explanation (and I agree the correct plural version is hard for a tool to determine). I agree it's probably not worth it to break existing files for this change. 3.0 can fix it...

[2022-11-02 17:13] goneall commented on #804
Setting a 3.0 Milestone and opening a parallel issue for the schema generator utility: https://github.com/spdx/tools-java/issues/92

[2022-11-03 14:55] jlovejoy commented on #385
Just to update this issue:
We had several joint calls to discuss and resolve many of the questions and issues raised here in a couple joint calls in 2020. Meeting minutes can be found at: https://github.com/spdx/meetings/blob/main/joint/2020-09-29.md and https://github.com/spdx/meetings/blob/main/joint/2020-10-08.md
The working draft we used for discussion which contains many comments re: decision

[2022-11-07 21:35] kzantow opened #805 "JSON schema question: `hasFiles`"
I'm trying to figure out where `hasFiles` is defined in the spec and it no longer seems to be, from what I can tell, yet it's defined in the latest JSON schema here: https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json#L345-L352

There was an older issue (#487) that points to a moved section of the spec (section 4, which is now section 8) but I cannot find any referen

[2022-11-08 01:06] goneall commented on #805
@kzantow the `hasFiles` is synonymous to a relationship between an `SpdxPackage` and an `SpdxFile` with a contains relationship.

It is documented in the [SPDX Ontology](http://spdx.org/rdf/terms#hasFile) and JSON Schema - although the documentation could definitely be improved - any pull requests along this line are greatly appreciated.

The `hasFiles` originates from the Tag/Value representation

[2022-11-08 14:23] kzantow commented on #805
Thanks for the follow-up @goneall. Just so I understand, it [looks like this field was deprecated in 2.0](https://spdx.org/rdf/terms/#d4e4761) (based on the comment "_relationshipType_contains introduced in SPDX 2.0 deprecates property 'hasFile' from SPDX 1.2_"), so will it probably be _removed_ in 3.0? But for 2.0 versions, a consumer should support both forms?

[2022-11-08 16:54] goneall commented on #805
For 2.x, a consumer should support both forms.  For 3.0, it is likely it will be removed, but until the spec is finalized there's a chance it will remain.  There is a lot of discussion on having serialization shortcuts supported in specific serialization formats - the outcome of those discussions may impact this field.

[2022-11-08 17:24] maxhbr commented on #803
The publish step only runs, if both `build_current` and `build_v2-draft` were executed
https://github.com/spdx/spdx-spec/blob/4021a7ae502352cd79bae2979859f28072fc402f/.github/workflows/publish.yml#L46-L49

But
* `build_current` only runs on `'refs/heads/master'` and
* `build_v2-draft` only runs on `'refs/heads/development/v2.3'`

so they never run both.

As a result, the publish is never executed.

[2022-11-08 17:53] kzantow commented on #805
Thanks for all the clarification @goneall!

[2022-11-08 17:53] #805 closed

[2022-11-08 20:13] goneall commented on #803
Thanks @maxhbr for the quick analysis and PR.

You'll find some related PR's where we've tried to fix similar issues - perhaps one of those PR's caused this issue?

[2022-11-10 13:41] nicoweidner commented on #523
Big +1 to this. It's made worse by the fact that byte range is a required property for snippets according to https://spdx.github.io/spdx-spec/v2.3/snippet-information/#93-snippet-byte-range-field. Any tool supporting snippets has to deal with all of the possible inconsistencies pointed out by @davaya if it offers validation, which is a major and unnecessary pain. I am confused that this issue is n

[2022-11-11 15:54] goneall commented on #523
Snippets are not very common, but they are used.

The main reason this proposal hasn't been accepted yet is that it would be a breaking change - hence targeted for 3.0.  I'm pretty sure it will get into 3.0 since we all agree it needs to be addressed.

[2022-11-13 20:18] maxhbr opened #808 "Is there a reason for this redundancy in the example files?"
Several items are duplicated in:
https://github.com/spdx/spdx-spec/blob/810d229fed8093aae03d9dd42aa0a8174611121a/examples/SPDXYAMLExample-2.3.spdx.yaml#L201-L215

[2022-11-13 20:22] maxhbr opened #809 "A typing question regarding LicenseInfoInFile"
I am confused by the fallback of LicenseInfoInFile:

https://github.com/spdx/spdx-spec/blob/810d229fed8093aae03d9dd42aa0a8174611121a/chapters/file-information.md?plain=1#L303

I think examples for parsed values are `LicenseInfoInFile=[NONE]` or `LicenseInfoInFile=["MIT", NOASSERTION]`, so it is a list where elements can be `NONE` or `NOASSERTION` or `SPDX License Expression`. But the fallback tell

[2022-11-14 15:44] nicoweidner opened #810 "Add link to annotations in deprecated reviews section"
The [reviews section](https://spdx.github.io/spdx-spec/v2.3/review-information-deprecated/) notes that reviews are deprecated since 2.0. But it doesn't give any indication on what should be used instead. The corresponding comment can be found in the [differences from earlier versions](https://spdx.github.io/spdx-spec/v2.3/diffs-from-previous-editions/) section, but that's quite hidden. I think a c

[2022-11-14 16:25] goneall commented on #809
@maxhbr Good point - we should not change the type for the fallback IMO.  I agree with your proposed solution.

[2022-11-15 12:22] meretp opened #811 "How to handle files that are contained in multiple packages in tv format?"
According to the [spec](https://spdx.github.io/spdx-spec/v2.3/composition-of-an-SPDX-document/#5.2.3):

How to handle a file that is contained in at least two packages? Would the file information be duplicated, once following the first package information and once following the second package information? Or would the file information once follow the first package and the relation to the second pa

[2022-11-16 08:26] nicoweidner opened #812 "Cardinality on external document references is wrong"
Another small one: The spec for [external document references](https://spdx.github.io/spdx-spec/v2.3/document-creation-information/#66-external-document-references-field) says that it's not required, but cardinality is `1..*`. I strongly suspect it should be `0..*` instead.

[2022-11-16 19:14] maxhbr opened #813 "What is the right string value for the package purpose OPERATING-SYSTEM in json?"
in the spdx-schema.json it is written as `OPERATING_SYSTEM`:

https://github.com/spdx/spdx-spec/blob/810d229fed8093aae03d9dd42aa0a8174611121a/schemas/spdx-schema.json#L411

but in https://spdx.github.io/spdx-spec/v2.3/package-information/#724-primary-package-purpose-field it is called `OPERATING-SYSTEM`, which looks like it should be `-` instead of `_`. What is correct?

(might be good to avoid da

[2022-11-16 21:01] tsteenbe commented on #813
@maxhbr  This issue keeps on popping up in other enums as well @goneall  told me when he did SPDX 2.3 he changed it compared to SPDX 2.2.

[2022-11-17 12:51] AldoMX opened #814 "Add `PROPRIETARY` to the license expression syntax"
I created this ticket in order to keep the discussion in #49 focused to `NONE` and move the discussion about `PROPRIETARY` here.

With the current status quo it is not possible to express a dual license like `GPL-2.0 OR PROPRIETARY`, which is a common practice in the industry.

There have been workarounds by users of SPDX, like adding `UNLICENSED` in [npm](https://docs.npmjs.com/cli/v9/configuring

[2022-11-17 17:46] seabass-labrax commented on #814
Welcome, @AldoMX!

ping for @swinslow and @jlovejoy (the SPDX Legal Team leads).

[2022-11-17 19:59] swinslow commented on #814
Hi @AldoMX, thanks for asking this separately from the discussion about `NONE` in the other issue.

There is no single definition of what a "proprietary" license is or is not, so a general "PROPRIETARY" identifier defined in the license expression syntax would not be appropriate.

For licenses not on the SPDX license list, the appropriate way to identify them is with a `LicenseRef-` prefix for a c

[2022-11-17 22:20] alilleybrinker commented on #814
I _think_ part of the idea for `PROPRIETARY` is that it should be used when an organization is not willing to provide _any_ text for a possible license they may offer for the software in question, because the terms of that license would be determined through direct negotiation. So a `LicenseRef-` prefix for a custom license would be of minimal value because the custom license would likely say some

[2022-11-18 00:29] #795 closed

[2022-11-25 09:26] init-dcat-ap-de opened #815 "Not All Checksum Algorithms Are Displayed Correctly"
The[ html representation of the ontology](https://spdx.org/rdf/terms/#d4e2129) does not show all defined checksum algorithms
![grafik](https://user-images.githubusercontent.com/14979304/203945690-a461161f-882b-400e-ac8f-a6bc49e22e94.png)

This is only a problem in the front end, since the rdf has the missing algorithms listes:

[2022-11-26 18:58] goneall commented on #815
@init-dcat-ap-de Thanks for pointing this out.  The HTML is generated from the OWL document which does contain the algorithms.  I noticed a comma after the sha256 value - I wonder if this is a limitation in the tool that generates the HTML.

@zvr - could you take a look?

[2022-11-27 10:44] zvr commented on #815
Oh, wow! It seems that (at least) one of the tools in the toolchain has a line length limit and silently truncates the long line.

Thanks for the report, @init-dcat-ap-de -- I'll fix it and push a new version of the HTML doc in the next couple of days.

[2022-11-29 09:57] meretp opened #816 "What is the correct way to specify the ID of the externalDocumentRef in RDF?"
When trying to parse the [SPDXRdfExample-v2.2.spdx.rdf](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/examples/SPDXRdfExample-v2.2.spdx.rdf.xml) with the python-tools the above question has arisen.

 Looking into the rdf ontolgy, the html spec and the provided example files I encountered different ways to specifiy the ID:

- The [SPDXRdfExample-v2.3.spdx.rdf.xml](https://github.com/spd

[2022-11-29 10:42] nicoweidner opened #817 "v2.2 examples have cyclic CONTAINS relationships"
See e.g. https://github.com/spdx/spdx-spec/blob/development/v2.2.2/examples/SPDXJSONExample-v2.2.spdx.json#L263-L267 and https://github.com/spdx/spdx-spec/blob/development/v2.2.2/examples/SPDXJSONExample-v2.2.spdx.json#L275-L279. Seems to be present in other formats as well.

Not sure if this is forbidden by the spec (probably not) or really relevant for the examples, but at least it doesn't seem

[2022-11-29 20:05] goneall commented on #816
The `rdf:ID="DocumentRef-spdx-tool-1.2` and `rdf:about="http://spdx.org/spdxdocs/spdx-example-444504E0-4F89-41D3-9A0C-0305E82C3301#DocumentRef-spdx-tool-1.2` are equivalent per the RDF spec if the SPDX document namspace is `http://spdx.org/spdxdocs/spdx-example-444504E0-4F89-41D3-9A0C-0305E82C3301` (see [this stackoverflow article](rdf:about="http://spdx.org/spdxdocs/spdx-example-444504E0-4F89-41D

[2022-11-30 01:36] dyphn1 opened #818 "Problem of cardinality in some of fields"
In the SPDX version 2.3 spec.

The [PackageName](https://spdx.github.io/spdx-spec/v2.3/package-information/) field cardinality is 1..1.
But in the sample that have more than on package described in one SPDX file.

Does it correct?
How do I know exactly how many times those fields can appear in SPDX?

Like [LicenseID](https://spdx.github.io/spdx-spec/v2.3/other-licensing-information-detected/#101-l

[2022-11-30 02:41] alilleybrinker commented on #818
`PackageName` is part of the Package Information section, so I'd take the `1..1` cardinality to mean it appears exactly once _per package_. Similarly, `LicenseID` is defined once _per custom license_.

[2022-11-30 05:25] dyphn1 commented on #818
I see.
So cardinality decide that how many times the description could be described on each paragraph. Right?

So, If I describe a paragraph like this
[code]
Is this correct?